doctype html
html(lang="es")
    head
        meta(charset='UTF-8')
        title= 'Saber y Ganar'
        link(href='/css/styles.css', rel='stylesheet')
        script(src='https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js')
        script(src='https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js')
    body
        include header.html
        include main
        script(src='main.js', type='module')